html {
  height: 100%;
  width: 100%;
  overflow: scroll;
  overflow-x: hidden;
  scroll-behavior: smooth;
  }
  ::-webkit-scrollbar {  /*used to remove the scroll bars from the browser */
  width: 0px; 
  }

body{  /*used to get the gradient effect on the backgroud */
    background: #FFEEEE; 
    background: -webkit-linear-gradient(to right, #DDEFBB, #FFEEEE);  
    background: linear-gradient(to right, #DDEFBB, #FFEEEE); 
    margin: 25px 25px;
}

.wrapper{
    width: 70%;
    margin: 0 auto;
    font-family: Calibri;
    font-size: 1rem;
}

/*psudeo element images preceeding the h2 elements*/
#nutri::before {
  content: url(../images/nutr25x25-72dpi.png);
}

#ing::before {
  content: url(../images/ingredients-25x25-72dpi.png);
}

#dir::before {
  content: url(../images/cookingpot25x25-72dpi.png);
}

div{
text-align: left;
}

#navigation{
    border-radius: 15px 50px;
    background: #4CAF50;
    opacity: 0.4;
    padding: 20px; 
    width: 98%;
    height: 35px;
    text-align: left;
}

#topsection{
    float: left;
    margin: 10px auto;
    width: 100%;
 }

#picture{
  margin-top: 40px;
    width: 49%;
    float: left;
}

#heading{
    font-family: 'Righteous', cursive;
    text-align: center;
    width: 49%;
    height: 33%;
    float: right ;
    color: #4CAF50;
  font-size: 20px;
}

#pitch{
    width: 49%;
    height: 33%;
    float: right ;
    line-height: 15px;
    font-family: Calibri;
}

#nutrition{
    text-align: center;
    width: 49%;
    height: 33%;
    float: right ;
    max-width: 100%;
    max-height: 100%;
}

#bottomsection{
    width: 100%;
    height: 100%;
    clear: both;
    float: left;
}

#ingridents{
    width: 29%;
    text-align: left;
    float: left;
}

#directions{
    text-align: left;
    font-family: Calibri;
    line-height: 15px;
    width: 69%;
    float: right;
}

ol{
    list-style-type: upper-roman;
    white-space: pre-wrap;
}

ul{
    list-style-type: circle;
}

#foot ul{
 
    list-style-type: square;
    list-style-position: inside;
    text-align: center;
}

#foot{
    clear: both;
    width: 100%;
    height: 100%;
    text-align: center;
}


img {
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
  border-radius: 20px;
  max-width: 100%;
  max-height: 100%;
}

footer img{
    clear: both;
    display: block;
    margin: 0 auto;
    width: 4%;
    height: 4%;
}

hr.new2 { /* style for the horizontal rule to divide the sections */
    border-top: 1px dashed gray;
  }

table{
    width: 100%;
    text-align: center;
}

tr, td {
    height: 5%;
  }

tr:hover {
  background-color: lightgrey;
}

th {
    background-color: #4CAF50;
    color: white;
}

h2{
    text-align: center;
}



.slider{  /*image slideshow style and animation */
  margin-top: 5%;
  margin-left: 5%;
  height: 400px;
  width: 40%;
  border-radius: 20px;
  box-shadow: 5px 5px 4px 5px #888888;
  float: left;
  background: url(../images/butter_chicken_recipe-640x427-72dpi.jpg);
  background-repeat: no-repeat; /* Do not repeat the image */
  animation: slide 20s infinite;
}

@keyframes slide {

33% {
  background: url(../images/healthy-instant-pot-butter-chicken-640x427-72dpi.jpg);
 } 

66% {
  background: url(../images/healthy-instant-pot-chicken-tikka-masala-640x427-72dpi.jpg);
 }
}


/* media queries section */

@media(max-width: 1200px){ /* responsive site for talets and smaller screens */

  #topsection{
    width: 98%;
    clear: both;
    margin: 0, auto;
    text-align: center;
  }
  #heading{
    width: 98%;
    clear: both;
   }
   #nutrition{
    width: 98%;
     clear: both;
   }
  
  #pitch{
    width: 98%;
    clear: both;
  }

  #ingridents{
    width: 98%;
  clear: both;
  }

#directions{
  width: 98%;
  clear: both;
}

.wrapper{
  width: 80%;
}

footer img{
  width: 6%;
  height: 6%;
}

  .slider{  
    margin: 0, auto;
    text-align: center;
    height: 400px;
    width: 70%;

}
}

@media(max-width: 600px){ /* responsive site for mobile phones */

  #topsection{
    clear: both;
    width: 98%;
    margin: 0, auto;
    text-align: center;
   }
  #heading{
    clear: both;
    width: 98%;
   }
   #nutrition{
    clear: both;
    float: left;
    width: 98%;
   }
  
  #pitch{
    width: 98%;
    clear: both;
  }

  #ingridents{
    clear: both;
    width: 98%;
  }

#directions{
  clear: both;
  width: 98%;
}
 
.wrapper{
  width: 90%;
}

footer img{
  width: 8%;
  height: 8%;
}

  .slider{  
    margin: 0, auto;
    text-align: center;
    height: 241px;
    width: 98%;
    background: url(../images/butter_chicken_recipe-360x241-72dpi.jpg);

}

@keyframes slide {

  33% {
    background: url(../images/healthy-instant-pot-butter-chicken-360x241-72dpi.jpg);
   } 
  
  66% {
    background: url(../images/healthy-instant-pot-chicken-tikka-masala-360x241-72dpi.jpg);
   }
  }
}